@import 'ui-variables';

.layout-mode-popout .message-list-toolbar,
.column-OutboxMessage .outbox-message-toolbar,
.column-MessageList .message-list-toolbar {
  z-index: 9;
  .item-container .button-group.message-toolbar-note {
    position: static;
    .note-input-area {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      background: @white;
      padding: 0 30px 10px;
    }
  }
}

.editable-note {
  margin: 0 30px;
  width: 100%;
  .note-content {
    border-radius: 10px;
    background-color: @off-white;
    white-space: pre-line;
    padding: 8px 15px;
    font-size: 14px;
    .note-title {
      font-size: 15px;
      font-weight: bold;
      color: @blue;
      margin-right: 6px;
    }
  }
}

.note-labels {
  display: inline-flex;
  align-items: center;
  & > span {
    margin-right: 10px;
    .edison-icon {
      color: @text-color !important;
      display: none;
    }
    &.checked {
      .edison-icon {
        display: flex;
        position: absolute;
      }
    }
  }
  .color {
    display: inline-block;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    &.red {
      background: #f22920;
    }
    &.yellow {
      background: #ebb300;
    }
    &.green {
      background: #0aaa1f;
    }
  }
}

.note-content {
  .note-labels {
    float: left;
    height: 20px;
    margin-right: 6px;
    .color {
      height: 12px;
      width: 12px;
      margin-right: -4px;
    }
    & > span.label {
      font-size: 12px;
      background: @gray-light;
      color: @white;
      padding: 0 6px;
      border-radius: 5px;
      font-size: 10px;
      font-weight: bold;
      margin-left: 10px;
    }
  }
}

.list-item {
  .note-labels {
    :first-child {
      margin-left: 5px;
    }
    .color {
      height: 12px;
      width: 12px;
      margin-right: -4px;
    }
    & > span.label {
      font-size: 12px;
      background: @gray-light;
      color: @white;
      padding: 0 6px;
      border-radius: 5px;
      font-size: 10px;
      font-weight: bold;
      margin-left: 10px;
    }
  }
}

.note-input-area {
  textarea {
    padding: 10px;
    border-radius: 10px;
    border-color: @gray-lightest;
    background: transparent;
    font-size: 14px;
    width: 100%;
    box-shadow: -1px 1.5px 6px rgba(0, 0, 0, 0.15);
    transition: box-shadow 0.5s;
    &:focus,
    &:hover {
      box-shadow: -2px 2.5px 10px rgba(0, 0, 0, 0.35);
    }
  }
  .button-wrapper {
    margin-top: 6px;
    display: flex;
    .btn {
      color: @blue;
      padding: 0 14px;
      margin-right: 10px;
      font-weight: bold;
      &.btn-trash {
        margin-left: auto;
      }
    }
  }
  .note-labels {
    & > span {
      cursor: pointer;
    }
  }
}

.note-filter {
  margin-left: 10px;
  display: flex;
  flex-direction: row;
  .btn {
    box-shadow: none;
    &.active {
      .edison-icon {
        color: @blue;
      }
    }
  }
  .note-labels {
    display: flex;
    opacity: 0;
    width: 0;
    z-index: 9;
    transition: all 0.3s;
    overflow: hidden;
    &.visible {
      width: 100%;
      opacity: 1;
    }
    & > div {
      cursor: pointer;
      margin-left: 10px;
      height: 70%;
      align-items: center;
      position: relative;
      display: flex;
      .check-mark {
        position: absolute;
      }
    }
  }
}
