@import 'ui-variables';

.column-MessageList .message-list-toolbar .item-container .btn-toolbar.message-toolbar-note {
  position: static;
  .note-input-area {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: yellow;
    textarea {
      background: yellow;
      width: 100%;
    }
  }
}
