{
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "modules": true,
      "jsx": true
    }
  },
  "extends": ["eslint:recommended", "plugin:react/recommended", "prettier", "prettier/react"],
  "globals": {
    "AppEnv": "readonly",
    "$m": false,
    "waitsForPromise": false,
    "advanceClock": false,
    "TEST_ACCOUNT_ID": false,
    "TEST_ACCOUNT_NAME": false,
    "TEST_ACCOUNT_EMAIL": false,
    "TEST_ACCOUNT_ALIAS_EMAIL": false
  },
  "env": {
    "browser": true,
    "node": true,
    "jasmine": true,
    "es6": true
  },
  "plugins": ["prettier", "spellcheck"],
  "rules": {
    "no-console": ["error", { "allow": ["log", "warn" ,"error"] }],
    "spellcheck/spell-checker": ["warn",       {
      "comments": false,
      "strings": true,
      "identifiers": false,
      "lang": "en_US",
      "skipWords": [
          "dict",
          "aff",
          "hunspellchecker",
          "hunspell",
          "utils",
          "md",
          "sha"
      ],
      "skipIfMatch": [
          "http://[^s]*",
          "file://[^s]*",
          "cid:[^s]*",
          "\\w-\\w",
          "^[-\\w]+\/[-\\w\\.]+$" //For MIME Types
      ],
      "skipWordIfMatch": [
      ],
      "minLength": 3
   }],
    "no-cond-assign": 0,
    "react/no-find-dom-node": 0,
    "prettier/prettier": "error",
    "no-unused-vars": ["error", { "vars": "all", "args": "none", "ignoreRestSiblings": false }]
  },
  "settings": {
    "react": {
      "version": "16.14.0"
    },
    "import/core-modules": [
      "mailspring-exports",
      "mailspring-component-kit",
      "electron",
      "mailspring-store",
      "mailspring-observables"
    ],
    "import/resolver": {
      "node": { "extensions": [".es6", ".jsx", ".json", ".js"] }
    }
  }
}
