@import 'ui-variables';

.preferences-wrap {
  .container-mute {
    max-width: 700px;
    padding-bottom: 33.5px;

    .mute-note {
      max-width: 600px;
      color: @text-color-very-subtle;
      line-height: 18px;
    }
    .config-group {
      border: none;
    }
  }
}
