@import 'ui-variables';
@import 'ui-mixins';

.icon-mixin(@svg-url, @bgColor: @gray-light, @bgSize: 15px) {
  -webkit-mask-image: url(@svg-url);
  -webkit-mask-size: @bgSize;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  background-color: @bgColor;
}
// Preferences Specific

.preferences-wrap {
  width: 100%;
  height: 100%;
  background-color: @background-primary;
  color: @text-color;

  search-match {
    background: @text-color-search-match;
    border-radius: 2px;
    padding: 2px 0;
    // box-shadow: 0 0.5px 0.5px rgba(0, 0, 0, 0.25);
    &.current-match {
      background: @text-color-search-current-match;
    }
  }

  .btn-default() {
    height: 30px;
    line-height: 28px;
    border-radius: 10px;
    text-align: center;
    font-family: 'SF UI Text';
    font-weight: @headings-font-weight;
    border: 1px solid @gray-lighter;
    box-shadow: 0 0.5px 1px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }

  .btn-primary {
    color: @blue;
    .btn-default();
  }
  .btn-danger {
    color: @color-danger;
    .btn-default();
  }

  .buttons-add {
    width: 250px;
    margin-top: 30px;
    img {
      background: @blue;
      vertical-align: top;
      margin: 4px 10px 0 0;
    }
  }

  .button-dropdown {
    margin-left: 8px;
    &.bordered {
      border: 1px solid @dropdown-default-border-color;
      color: @dropdown-default-text-color;
      background: @dropdown-default-bg-color;
      border-radius: 5px;
    }
    .only-item {
      position: relative;
      border-radius: 5px;
      padding-right: 0;
      span + img {
        visibility: hidden;
      }
      &::after {
        content: '';
        display: block;
        position: absolute;
        height: 100%;
        width: 10px;
        pointer-events: none;
        right: 4px;
        top: 0;
        -webkit-appearance: menulist;
      }
    }
    .secondary-items {
      max-height: 260px;
      overflow: auto;
    }
  }
  .item-back {
    position: absolute;
    top: 22px;
    left: 20px;
    z-index: 9999;
    cursor: pointer;
    img.content-mask {
      background-color: @gray;
    }
  }
  .item-back-title {
    display: inline-block;
  }
  input[type='checkbox'] {
    margin: 0 7px 0 0;
    position: relative;
    top: -1px;
  }
  input[type='radio'] {
    margin: 0 7px 0 0;
    position: relative;
    top: -1px;
  }

  .config-group {
    max-width: 700px;
    padding: 29px 30px 33.5px;
    border-bottom: 1px solid @border-color-divider;
    h6 {
      color: @gray-light;
      font-family: 'SF UI Text';
      font-size: 11px;
      font-weight: 700;
      line-height: 33px;
      margin: 0;
    }

    .item {
      padding: 6.5px 0;
      line-height: 21px;
    }
    &:last-child {
      border-bottom: none;
    }
  }

  p {
    color: @text-color-very-subtle;
    font-size: @font-size-smaller;

    a {
      color: @text-color-very-subtle;
      font-weight: bold;
      text-decoration: underline;
    }
  }
  *[contenteditable] {
    p {
      color: @text-color;
      font-size: @font-size-base;
    }
  }

  .container-preference-tabs {
    width: 201px;
    flex: 0 0 auto;
    background-color: @source-list-bg;
    padding-top: 98px;
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.1);
    z-index: 10;

    .item {
      cursor: default;
      width: 100%;
      height: 40px;
      padding-left: 30px;

      &.active {
        background: @source-list-active-bg;
        .name {
          color: @text-color;
          font-weight: 600;
          font-weight: @font-weight-semi-bold;
        }
      }

      .name {
        white-space: nowrap;
        font-family: 'SF UI Text';
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 14px;
        line-height: 40px;
      }
    }
  }

  .searchBar {
    widows: 100%;
    height: 68px;
    background-color: @source-list-bg;
    border-bottom: 1px solid @border-color-divider;
    padding: 14px 20px;
    display: flex;
    justify-content: space-between;

    .tabName {
      line-height: 40px;
      font-family: 'SF UI Display';
      font-size: 32px;
      font-weight: 700;
      letter-spacing: 0.01px;
      white-space: nowrap;
      overflow: hidden;
      flex: 1;
    }

    .nylas-input-search {
      width: 380px;
    }
  }

  .preferences-content {
    flex: 8;
    background-color: lighten(@background-secondary, 1%);
    & > .scroll-region-content {
      padding: 0 10px;
    }
    .container-dropdown {
      margin: 5px 0;
      .dropdown {
        padding-left: 10px;
      }
    }
  }

  .platform-note {
    font-size: @font-size;
    line-height: 16px;
    color: @gray-base;
    padding: 12px 20px;
    border-radius: @border-radius-base;
    background-color: @background-off-primary;
    margin-top: 6.5px;

    &:before {
      color: @color-info;
      font-weight: 600;
      content: 'Note: ';
    }
  }
  .platform-linux-only {
    display: none;
  }

  .contact-list ul {
    border: 1px solid @border-color-divider;
    padding: 40px 0 0;
    margin: 0 20px;
    min-height: 350px;

    .checkmark {
      height: 18px;
      width: 18px;
      border: none;
      margin-right: 21px;
      display: inline-block;
      vertical-align: top;
      cursor: pointer;
      &:hover {
        &:after {
          display: block;
          .grow-up-animation-mixin();
        }
      }
      &:after {
        content: '';
        height: 18px;
        width: 18px;
        border-radius: 50%;
        background: rgba(0, 0, 0, 0.15);
        display: none;
        margin-top: -18px;
      }
      &:before {
        content: '';
        display: block;
        height: 18px;
        width: 18px;
        .icon-mixin('../static/icons/check-empty.svg', @gray-light, 24px);
      }
    }
    .checkmark.selected {
      &:before {
        .icon-mixin('../static/icons/check.svg', @blue, 24px);
      }
    }
    .checkmark.some-selected {
      &:before {
        .icon-mixin('../static/icons/some-selected.svg', @blue, 24px);
      }
    }

    span.handleBtn {
      height: 20px;
      padding: 0 11.5px;
      border-radius: 10px;
      margin-left: 20px;
      background: @background-primary;
      text-align: center;
      line-height: 20px;
      display: none;
      font-size: 11px;
      font-weight: 600;
      color: @text-color-link;
      cursor: pointer;
    }

    .header {
      height: 40px;
      margin-top: -40px;
      padding: 7px 10px 7px 30px;
      display: flex;
      align-items: center;
      line-height: 18px;
      border-bottom: 1px solid @border-color-primary;

      .checkmark-note {
        color: @gray-light;
        font-size: 11px;
        font-weight: @font-weight-semi-bold;
        line-height: 13px;
      }

      .search-box {
        width: 180px;
      }

      span.handleBtn.show {
        display: inline-block;
      }
    }

    li {
      list-style: none;
      padding-left: 30px;
      height: 40px;
      display: flex;
      align-items: center;
      cursor: pointer;
      color: @gray;
      font-size: 14px;
      letter-spacing: -0.31px;
      line-height: 15px;

      &.add-contact-list {
        position: relative;

        .avatar-icon {
          overflow: hidden;
          img {
            background: #e8e8ed;
            margin-left: -2px;
            margin-top: -2px;
          }
        }

        .choose-contact {
          height: 100%;
          margin-left: -60px;

          .choose-contact-search {
            min-width: 200px;
            border: none;
            outline: none;
            background: none;
            line-height: 40px;
            padding: 0;
            margin-left: 60px;
            color: @text-color;

            &::placeholder {
              color: @gray-light;
            }
          }
        }

        .menu {
          .header-container {
            background: none;
            border: none;
            padding: 0;
          }

          .content-container {
            z-index: 10;
            border-radius: 0 0 10px 10px;
            background-color: @background-primary;
            box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.25);

            .item {
              padding: 0;

              &.select {
                background-color: @off-white-light;
              }

              .contact-item {
                padding: 0 21px;
                height: 44px;
                display: flex;
                align-items: center;
                cursor: pointer;
                color: @gray;
                font-size: 14px;
                letter-spacing: -0.31px;
                line-height: 15px;
              }
            }
          }
        }
      }

      span {
        color: @text-color;
        margin-right: 15px;
      }

      .checkmark {
        display: none;
      }

      .avatar-icon {
        height: 20px;
        width: 20px;
        border: none;
        margin-right: 19px;
        display: inline-block;
        vertical-align: top;
        line-height: 20px;
        text-align: center;
        color: @text-color-inverse;
        border-radius: 50%;
      }
      &:not(.add-contact-list):hover {
        background: @off-white-light;
        .checkmark {
          display: inline-block;
        }
        .avatar-icon {
          display: none;
        }

        span.handleBtn {
          display: inline-block;
        }
      }

      &.selected {
        .checkmark {
          display: inline-block;
        }
        .avatar-icon {
          display: none;
        }
      }
    }
  }
}

body.platform-win32 {
  .preferences-wrap {
    .well {
      border-radius: 0;
    }
    .container-appearance {
      .appearance-mode {
        cursor: pointer;
        border-radius: 0;
      }
    }
  }
}

body.platform-linux {
  .preferences-wrap {
    .platform-linux-only {
      display: block;
    }
  }
}

@media (max-width: 600px) {
  .preferences-wrap {
    .container-preference-tabs {
      .preferences-tabs .item img.tab-icon {
        margin-bottom: 10px;
      }
      .preferences-tabs .item .name {
        display: none;
      }
    }
    .preferences-content > .scroll-region-content {
      padding-left: @padding-large-horizontal * 1;
      padding-right: @padding-large-horizontal * 1;
    }
  }
}
