@import 'ui-variables';
.draft-not-show {
  color: @gray;
  border-radius: @border-radius-base;
  // border: 1px solid @border-color-divider;
  // box-shadow: -1px 1.5px 6px rgba(0, 0, 0, 0.15);
  background-color: @gray-lightest;
  padding: 7px 14px;
  margin: 0 8px 20px 8px;
  .show-draft {
    color: @accent-primary;
    cursor: pointer;
    border: none;
    background: transparent;
    font-weight: bold;
  }
}
