.event-title {
  font-size: 40px;
  flex: 1;
  border: none;
}

.event-title:focus {
  outline: none;
}

.event-title :hover {
  border-bottom: 1px gray;
}

.event-title:hover::placeholder {
  color: #09f;
}

.event-title::placeholder {
  color: gray;
}
