.input-area {
  color: black;
  border: 2px solid darkgrey;
  border-radius: 15px;
  padding: 15px 20px;
  width: 100%;
}

.input-area:focus, .input-area:hover{
  border: 2px solid #09f;
  outline: none;
}

.input-area::placeholder{
  color: gray;
}

.textarea {
  height: 165px;
}

.input-label {
  padding-left: 25px;
  font-size:12px;
  font-weight: bold;
}

.input-area-sm {
  margin-top: 5px;
  margin-left: 3px;
  color: black;
  border: 2px solid darkgrey;
  border-radius: 15px;
  padding: 4px 8px;
  width: 13%;
}
